<h1>Create your own Dodont</h1>
<p>Just place HTML markup in the box below.</p>
<% if @error_messages %>
  <% @error_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_for @dodont, url: { action: "create" } do |f| %>
  <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "Post" %>
  </p>
<% end %>